{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% block content%}

{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
{% endblock %}

<div style=" padding-top: 9px;  text-align: center; font-size: 13px; color: seashell;">
    <h3> NEWS HIGHLIGHTS </h3>
    <hr>
</div>

<body style="background-color: rgb(5, 5, 5)">
    <!-- News Section  -->

    <div class="container">
        {{ macro.displaySourceList(highlights_sources)}}
        {{ macro.displaySourceList(international_sources)}}
        {{ macro.displaySourceList(sports_sources)}}

    </div>




</body>



{%endblock%}